[tool.poetry]
name = "carling"
version = "0.3.0"
description = ""
authors = ["Adam Moore <adam@mcdigital.jp>", "Tsuyoki Kumazaki <tsuyoki@mcdigital.jp>"]

[tool.poetry.dependencies]
python = "^3.7"
apache_beam = "^2.22.0"
deepdiff = "^5.0.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-watch = "^4.2.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
